html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  min-width: 320px;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: inherit;
  }
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}

mark {
  color: inherit;
  background: none;
}

button {
  padding: 0;
}

fieldset {
  border: none;
}